:root {
    --main-font: 'Montserrat', Verdana,
        sans-serif;
    --fancy-font: 'Kaushan Script', cursive;

    --main-color: green;

    --secondary-color: lightgreen;

    --accent-color: purple;

    --neutral-color: goldenrod;

    --light-color: white;

    --dark-color: black;
}

.src-only {
    position: 'absolute';
    width: '1px';
    height: '1px';
    padding: '0';
    margin: '-1px';
    overflow: 'hidden';
    clip: 'rect(0; 0; 0; 0)';
    white-space: 'nowrap';
    border-width: '0';
}

/* Text */

* {
    font-family: var(--main-font);
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

/* utility classes */

/* borders */

.blur-border {
    box-shadow:
        inset -1px -1px 2px black,
        inset 1px 1px 2px black;
}

.blur-border-light {
    box-shadow:
        inset -1px -1px 2px #cccccc,
        inset 1px 1px 2px #cccccc;
}

/* Hover */

.help-icon {

}

.help-hover {
    display: none;
    position: absolute;
    font-size: 0.9rem;
    font-weight: 400;
    padding: 0.5rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    white-space: wrap;
    z-index: 10;
}

.help-icon:hover + .help-hover {
    display: block;
}

.help-icon:hover > .help-hover {
    display: block;
}

/* Browse help hover icons */

.filter-icon {
    position: relative;
}

.filter-text {
    display: none;
    position: absolute;
    left: 110%;
    top: -1rem;
    z-index: 10;
    font-size: 0.8rem;
    border: 1px solid black;
    background-color: white;
    text-wrap: nowrap;
    padding: 0 2px 0 2px;
}

.filter-icon:hover>.filter-text {
    display: block;
}

.filter-group:nth-of-type(2n + 1) {
    background-color: rgb(236, 242, 248);
}