.map-wrap {
    position: relative;
    width: 80%;
    height: calc(100vh - 77px);
    max-height: 400px;
    /* max-width: 500px; */
    /* calculate height of the screen minus the heading */
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
}