/* Landing Main */

.rotating-text {
    opacity: 1;
    animation: rotating-text 6000ms forwards infinite;
}

.video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@keyframes rotating-text {
    0% {
        opacity: 0;
    }
    5% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    85% {
        opacity: 1;
    }
    95% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/* Lanfing Articles */

/* .landing-articles {
    padding-top: 4rem;
    margin-top: -4rem;
    background: linear-gradient(
        to bottom,
        transparent 0%,
        rgb(2, 30, 10) 4rem,
        rgb(2, 30, 10) 100%
    )

} */