
.found-hover {
    display: none;
    background-color: white;
    position: absolute;
    top: -3rem;
    left: -1rem;
    border: 1px solid black;
    font-size: 0.8rem;
    z-index: 1;
    padding: 0.5rem;
}

.found-btn:hover > .found-hover {
    display: block;
}

.tree-border-mask {
    position: absoute;
    top: 0;
    left: 0;
    width: 100%;
    height: 4rem;
    margin-top: -4rem;
    background-color: aqua;
    mask-image: url('../../../../public/curve-border.png');
    mask-size: cover;
}
